<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Moonpig Engineer Page </title>
</head>

<body>
    <br><br>
    <h1> Engineer Page </h1>
    <br><br>
    <br><br>
    <div class="factory-container">
    {{#each data}}
       <ul>
           <li>Factory Name:<br><br>{{this.factoryName}}</li>
           <br>
           <li>Product Type:<br><br>{{this.productType}}</li>
           <br>
           <li>Total Capacity:<br><br>{{this.totalCapacity}}</li>
           <br>
           <li>Current Capacity:<br><br>{{this.currentCapacity}}</li>
           <br>
           <li> Remaining Capacity:<br><br>{{this.remainingCapacity}}</li>
       </ul>
       <br>
    {{/each}}

</ul>
</div>
</body>

</html>