<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Moonpig Factory Page </title>
</head>

<body>
    <br><br>
    <h1> Factory Page </h1>
    <br><br>
    <br><br>
    <div class="factory-container">
    {{#each data1}}
       <ul>
           <li> Order ID:<br><br>{{this.id}}</li>
           <br>
           <li> Order Date:<br><br>{{this.orderDate}}</li>
           <br>
           <li>Customer Name:<br><br>{{this.fullName}}</li>
           <br>
           <li>Email:<br><br>{{this.email}}</li>
           <br>
           <li>Dispatch Address:<br><br>{{this.dispatchAddress}}</li>
           <br>
           <li>Billing Address:<br><br>{{this.billingAddress}}</li>
           <br>
           <li> Product:<br><br>{{this.productType}}</li>
           <br>
           <li> Quantity:<br><br>{{this.quantity}}</li>
       </ul>
       <br>
    {{/each}}

</ul>
</div>
</body>